/* src/components/Editor.css */
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.google-docs-editor {
  height: 700px;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #ffffff; 
  line-height: 1.5; 
  padding: 20px; 
}

.ql-toolbar {
  background-color: #d9eff8; 
}

.ql-editor {
  line-height: 1.5;
  padding: 20px;
}

.welcome-header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #0051d3;
}

.signIn {
  text-align: center;
}

.signin-btn {
  padding: 8px 15px;
  font-size: 14px;
  color: white;
  background: #4285f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-btn:hover {
  background-color: rgb(108, 109, 214);
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1px 20px;
  color: #0051d3;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.header-right {
  display: flex;
  align-items: center; 
  gap: 15px; 
}

.signout-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.signout-btn:hover {
  background-color: #c9302c;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size:20px;
  color: black;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ccc;
}
